body {
    font-size: 16px;
  }

  h1 {
    font-family: sans-serif;
    size: 65px;
    color: orange;
  }

  p {
    font-weight: 600;
    font-size: 3em;
    font-style: italic;
    line-height: 20px;
    text-align: justify;
    text-decoration: line-through;
  }

  ul {
    background-color: gray;
  }

  .pul {
    background-color: burlywood;
  }

  #y {
    background-color: yellow;
  }

  #r {
    background-color: red;
  }

  #b {
    background-color: brown;
  }